# Environment
.env

# IDE
.vscode
.idea

# OSa
.DS_Store
Thumbs.db

# Build
*.exe
*.dll
*.so
bin/
dist/
build/

.trae/documents
*.local

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/

node_modules/
