@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .h-screen {
    height: 100vh;
    height: 100dvh;
  }
  .min-h-screen {
    min-height: 100vh;
    min-height: 100dvh;
  }
  .max-h-screen {
    max-height: 100vh;
    max-height: 100dvh;
  }
  .w-screen {
    width: 100vw;
    width: 100dvw;
  }
  .min-w-screen {
    min-width: 100vw;
    min-width: 100dvw;
  }
  .max-w-screen {
    max-width: 100vw;
    max-width: 100dvw;
  }
}
