@import "tailwindcss";

@theme {
  /* Primary (Slate) */
  --color-primary-50: var(--color-slate-50);
  --color-primary-100: var(--color-slate-100);
  --color-primary-200: var(--color-slate-200);
  --color-primary-300: var(--color-slate-300);
  --color-primary-400: var(--color-slate-400);
  --color-primary-500: var(--color-slate-500);
  --color-primary-600: var(--color-slate-600);
  --color-primary-700: var(--color-slate-700);
  --color-primary-800: var(--color-slate-800);
  --color-primary-900: var(--color-slate-900);
  --color-primary-950: var(--color-slate-950);

  /* Secondary (Orange) */
  --color-secondary-50: var(--color-orange-50);
  --color-secondary-100: var(--color-orange-100);
  --color-secondary-200: var(--color-orange-200);
  --color-secondary-300: var(--color-orange-300);
  --color-secondary-400: var(--color-orange-400);
  --color-secondary-500: var(--color-orange-500);
  --color-secondary-600: var(--color-orange-600);
  --color-secondary-700: var(--color-orange-700);
  --color-secondary-800: var(--color-orange-800);
  --color-secondary-900: var(--color-orange-900);
  --color-secondary-950: var(--color-orange-950);

  /* Error (Red) */
  --color-error-50: var(--color-red-50);
  --color-error-100: var(--color-red-100);
  --color-error-200: var(--color-red-200);
  --color-error-300: var(--color-red-300);
  --color-error-400: var(--color-red-400);
  --color-error-500: var(--color-red-500);
  --color-error-600: var(--color-red-600);
  --color-error-700: var(--color-red-700);
  --color-error-800: var(--color-red-800);
  --color-error-900: var(--color-red-900);
  --color-error-950: var(--color-red-950);

  /* Success (Green) */
  --color-success-50: var(--color-green-50);
  --color-success-100: var(--color-green-100);
  --color-success-200: var(--color-green-200);
  --color-success-300: var(--color-green-300);
  --color-success-400: var(--color-green-400);
  --color-success-500: var(--color-green-500);
  --color-success-600: var(--color-green-600);
  --color-success-700: var(--color-green-700);
  --color-success-800: var(--color-green-800);
  --color-success-900: var(--color-green-900);
  --color-success-950: var(--color-green-950);
}

@layer utilities {
  .h-screen {
    height: 100vh;
    height: 100dvh;
  }

  .min-h-screen {
    min-height: 100vh;
    min-height: 100dvh;
  }

  .max-h-screen {
    max-height: 100vh;
    max-height: 100dvh;
  }

  .w-screen {
    width: 100vw;
    width: 100dvw;
  }

  .min-w-screen {
    min-width: 100vw;
    min-width: 100dvw;
  }

  .max-w-screen {
    max-width: 100vw;
    max-width: 100dvw;
  }
}
